#Introduction .introWrapper{
    height: fit-content;
    width: 70%;
    min-width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.introWrapper .avatar{
    width: 500px;
    height: 400px;
    background-color: white;
    border-radius: 2% 15% 2% 15%;

	display: flex;
    box-shadow: 1rem 1rem 2rem rgba(100, 100, 100, 0.5);

}
.introWrapper .socialMedia{
	align-self: flex-end;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
}
.introWrapper .socialMedia img{
    width: 3rem;
}
.introWrapper .profileDescription{
    background-color: white;
    padding: 25px;
    border-radius: 15px;
    flex: 1;
    box-shadow: 1rem 1rem 2rem rgba(100, 100, 100, 0.5);
}
.introWrapper .profileDescription p span{
    font-weight: 600;
}
.profileDescription h1{
    font-size: 3rem;
    line-height: 6rem;
}
.profileDescription p{
    font-size: 1.4rem;
    line-height: 2.3rem;
}
@media (max-width : 2100px){
 .introWrapper{
        width: 90%;
    }
}
@media (max-width : 1700px){
	 .introWrapper{
        flex-direction: column;
        align-items: start;
    }
}


@media(max-width:435px){
    #introduction{
        width: 100vw;
    }
    .introWrapper{
        width: 100%;
    }
    .introWrapper .avatar{
		width: 320px;
		height: 320px;
    }
    .introWrapper .socialMedia img{
        width: 1rem;
    }
    .profileDescription{
        width: 80%;
        padding: 10px;

    }
    .profileDescription h1{
        font-size: 2rem;
        line-height: 3rem;
    }
    .profileDescription p{
        font-size: 1rem;
        line-height: 1.5rem;
    }
}

