
.projectsWrapper{
    width: 90%;
    height: 80%;
    display: flex;
    justify-content: space-between;
}
.wbms, .contentNest{
    width: 45%;
    height: fit-content;
    padding: 1.5rem;
    background-color: white;
    border-radius: 1.5rem;
}
.contentNest{
    align-self: flex-end;
}
.projectsWrapper a{
    font-size: 1.5rem;
    color: blue;
    
}
.projectsWrapper p{
    margin-bottom: 1rem;
}
.projectsWrapper a:hover{
    font-weight: 600;
}
.projectsWrapper h1{
    font-size: 2rem;
    width: 100%;
    text-align: center;
    color: rgb(80, 80, 80);
}

.sliderWrapper{
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    padding: 25px;
    border-radius: 1.5rem;
}
.arrow{
    font-size: 3rem;
    user-select: none;
}
.arrow:hover{
    cursor: pointer;
}
.slider{
    width: 700px;
    height: 470px;

    overflow: hidden;

}
.frame{
    display: flex;
    width: fit-content;
    transition: transform 0.7s ease-in-out;

}
.frame img{
    margin: 0;
    padding: 0;
    width: 100%;
    border-radius: 10px;
}