
.projectsWrapper{
    width: 90%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    /* border: 2px solid blue; */

}
.wbms, .contentNest{
    width: 45%;
    height: fit-content;
    padding: 1.5rem;
    background-color: white;
    border-radius: 1.5rem;
}
.contentNest{
    align-self: flex-end;
}
.projectsWrapper a{
    font-size: 1.5rem;
}


.sliderWrapper{
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    padding: 25px;
    border-radius: 1.5rem;
}
.arrow{
    font-size: 3rem;
}
.arrow:hover{
    cursor: pointer;
}
.slider{
    width: 700px;
    height: 470px;

    overflow: hidden;
    /* border: 2px solid red; */

}
.frame{
    display: flex;
    width: fit-content;

}
.frame img{
    margin: 0;
    padding: 0;
    width: 100%;
}