.skillsWrapper{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.skillsWrapper img{
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 10px;
}
.skillsWrapper span:hover{
    text-decoration: underline;
}
.skillSet{
    display: flex;
    flex-direction: column;
}
.skillSet1, .skillSet3{
    gap: 10rem;
}
.skillSet2{
    gap: 5rem;
}
.skillCategory{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 25px;
    border-radius: 2rem;
    width: 550px;
    box-shadow: 1rem 1rem 2rem rgba(100, 100, 100, 0.5);
}
.skillSet h1{
    font-size: 2rem;
    font-weight: 600;
}
.skillSet span{
    font-size: 1.5rem;
    line-height: 2.5rem;
    font-style:italic;
}


@media (max-width : 1900px){
    .skillsWrapper{
        width: 95%;
    }
}

@media (max-width : 1700px){
    .skillsWrapper{
        width: 95%;
    }
}

@media (max-width : 1600px){
    .skillsWrapper{
        width: 95%;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
    }
    .skillSet{
        gap: 1rem;
    }
	.skillSet h1{
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
    }
	.skillSet span{
        font-size: 1.3rem;
        line-height: 1.5rem;
    }
	.skillsWrapper{
        gap: 1rem;
        width: 100%;
    }
	.skillsWrapper img{
        width: 1.2rem;
        height: 1.2rem;
    }
}



/* tablet view */
@media (max-width:1024px){
    main{
        overflow-y: auto;
    }
    .skillSet{
        align-items: center;
        gap: 1rem;
        width: 100%;
    }
    .skillCategory{
        padding: 1rem 2rem;
    }
}

/* mobile view */
@media(max-width: 435px){
    .skillsWrapper{
        gap: 0.5rem;
    }
    .skillSet{
        gap: 0.5rem;
    }
    .skillSet h1{
        font-size: 1.2rem;
    }
    .skillSet span{
        font-size: 1rem;
        line-height: 1.2rem;
    }
    .skillCategory{
        width: 90%;
    }
    .skillsWrapper img{
        width: 1rem;
        height: 1rem;
        line-height: 1.2rem;
    }
}