*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif sans-serif;
}
button,a{
	cursor: pointer;
}

body{
    width: 100vw;
    overflow-x: hidden;
}
html {
    scroll-behavior: smooth;
}

header{
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    max-height: 4rem;
}
header button{
    border: none;
    padding: 0 10px;
    background-color: transparent;
    font-size: 2rem;
}
#closeBtn{
    display: none;
}


nav{
    height: 4rem;
    display: flex;
    padding-top: 10px;
    align-items: center;
    justify-content: center;
	z-index: 1000;

}
nav a{
    position: relative;
    padding: 13px 20px;
    font-size: 1.5rem;
    font-weight: 500;
    color: white;

    transition: all .7s ease;

}
nav a:hover{
    text-decoration: underline;
}
.contactMe{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.contactMe a{
    width: fit-content;
}
main{
    height: calc(100vh - 4rem);
    overflow: hidden;
}
section{
    background-color: rgb(230, 230, 230);
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 4rem);
	}

/*styles for width of 1080px to 0px/ 1080px or lessthan 1080px*/
@media(max-width: 1080px){
    #openBtn{
        display: block;
    }
    nav{
        position: absolute;
        right: calc(100vw * -1);
        top: 4rem;
        width: 90%;
        padding-top: 3rem;
        height: calc(100vh - 4rem);
        background-color: blueviolet;
        border-radius: 2rem 0  0 2rem;
        
        flex-direction: column;
        gap: 2rem;
        transition: all 0.5s ease;
    }
    nav a{
        font-size: 1.5rem;
    }
    .active{
        background-color: rgb(230, 230, 230);
        border-radius: 1rem;
        color: black;
        font-weight: 600;
    }
}
/* styles for 1081px or above  */
@media(min-width: 1081px) {

    nav{
        position: static;
        display: flex;
        gap: 1.5rem;
    }
    nav a{
        color: black;
        gap: 2rem;
    }
    #openBtn , #closeBtn{
        display: none;
    }
    .active{
        background-color: rgb(230, 230, 230);
        border-radius:  2rem 2rem 0 0;
        font-weight: 600;
    }
    
}
@media(max-width:435px){
    main{
        overflow-y: scroll;
    }
	nav a{
		font-size: 1.3rem;
	}
}